@import "../../core/core";

.canvas-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  //overflow: hidden;
}

canvas {
  //position: fixed;
  margin: 0;
  padding: 0;
  //overflow: hidden;
}

.close-icon {
  position: absolute;
  //padding: 10px;
  transform: scale(0.75);
  cursor: pointer;
}

.debug {
  position: absolute;
  background-color: rgba(75, 75, 75, 0.75);
  right: 10px;
  top: 10px;
  width: 200px;
  height: 315px;
  transform: translateX(0) translateY(0%);
  transition: all 1s $ease-out-strong 0.25s;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  font-size: 14px;

  .circular-chart {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 0px;
  }

  .circle {
    stroke: #0106c7;
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
}

.wrapper {
  position: absolute;
  //width: 1920px;
  //height: 1077px;

  .react-dat-gui {
    width: 375px;
    left: 0px;
    top: 85%;
    .cr .label-text {
      width: 20% !important;
    }
    .cr.number .slider {
      width: 60% !important;
    }
  }
}
