$ease-out-strong: cubic-bezier(0.245, 0, 0.09, 1);
$ease-out: cubic-bezier(0.245, 0, 0.45, 1);

$ease-in-strong: cubic-bezier(.97, .01, .76, 1);
$ease-in: cubic-bezier(.86, .02, .76, .9);

$ease-in-out-strong: cubic-bezier(.75, 0, .25, 1);
$ease-in-out: cubic-bezier(.6, 0, .4, 1);

$ease-bounce-soft: cubic-bezier(.59, 1.35, .62, .97);
$ease-bounce: cubic-bezier(0.480, 1.470, 0.495, 1.000);
$ease-bounce-strong: cubic-bezier(.5, 2.31, .83, .67);
$ease-drive: cubic-bezier(0.245, 0, 0.335, 1);

$ease-in-out-quad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
