@import "../../core/core";

.pop {
  padding: 15px;
  margin: 5px;
  border: 1px solid #133971;
  transition: all .5s ease-in-out;

  a {
    color: #133971;
  }

  &:hover {
    background-color: #add4e0;
  }
}
